body{
    margin-left: 400px;
    margin-right: 400px;
}

#capcelera{
    background: url("../Images/grass.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    width:  100%;
    height: 150px;
    align-items: center;
    padding-top: 75px;
    color: white;
}

.b{
    align-items: center;
}
.a{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#section1{
    display: flex;
    flex-direction: row;

}

.flex1{
    display: flex;
    flex-shrink: 3;


}

.flex2{
    display: flex;
    border: 5px solid black;
    border-radius: 5px;
    background-color: lightyellow;
    height: 200px;
    width: 200px;
    padding-left: 5px;
}
#alcol
.col{
    display: flex;
    flex-direction: column;
}