header{
    background-color: black;
    padding: 50px;
}

h1{
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}
a{
    color: white;
}
.gallery{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
p{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.photos{
    margin: 10px;
    flex-wrap: wrap;

}
body{
    margin: 0px;
}