#container{
    background: lightskyblue;
    display: grid;
    grid-template-color: 20% 20% 60%;
    grid-template-rows: auto;
    grid-template-areas:
            "menu logo content"
            "menu footer footer";
}

nav{
    background: lightblue;
    grid-area: menu;
}
#logo{
    background: lightcoral;
    grid-area: logo;
    height: 200px;
}

#content{
    background: coral;
    grid-area: content;
}

footer{
background: palegreen;
    grid-area: footer;
}

nav,footer,#content, #logo{
    padding: 5px;
    text-align: center;
}
@media (max-width: 600px) {
    #container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        grid-template-areas:
                "menu menu"
                "logo content"
                "footer footer";
    }
}
